
.container {
    display: flex;
}

.sidebar {
    width: 200px; /* Ou uma porcentagem */
    background-color: #81adc7;
    padding: 10px;
    position: fixed; /* Para manter fixo na lateral */
    top: 0;
    left: 0;
    height: 100%; /* Ou altura da tela */
}

.main-content {
    flex-grow: 1; /* Permite que o conteúdo principal preencha o restante da tela */
    padding: 20px;
}
    body {
      margin: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: #becbd8;
    }

    header {
      background-color: #3b5e75;
      color: white;
      padding: 20px;
      text-align: center;
    }

    h2 {
      margin: 0;
      text-align: center;
    }

    p {
      margin: 0;
      text-align: center;
    }


    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 30px;
      gap: 20px;
    }